/* Arquivo style.css */
.sidebar .css-1aumxhk {
    background-color: #007BFF !important; 
    color: white !important; 
    border: 1px solid #007BFF !important;
    border-radius: 5px !important;
    opacity: 0.9; 
}

.sidebar .css-1aumxhk:hover {
    background-color: #0056b3 !important; 
    border: 1px solid #0056b3 !important;
    opacity: 1.0; 
}
